# flag for selecting which ppx_inline_test class to run:
# --ppxt=main | hello | goodbye
build --flag_alias=ppxt=//testing/ppx_inline_test/compound:t

build --flag_alias=obj=@tools_obazl//ocamlobj

common --color=yes
# common --config=dbg

# pass --config=dbg to enable this:
# common:dbg --sandbox_debug

# test --test_verbose_timeout_warnings

build:bc --@rules_ocaml//build/mode=bytecode
# build:bc --@ppx//mode=bytecode

try-import .private/bazelrc
